In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm

In [ ]:
#load the data into a dataframe
wages=pd.read_csv('https://raw.githubusercontent.com/danielbauer1979/MSDIA_PredictiveModelingAndMachineLearning/refs/heads/main/GB886_II_9_Wages_1985_Current_Population_Survey.csv')
wages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Yrs_Ed      534 non-null    int64
 1   Sthrn_Rgn   534 non-null    int64
 2   Sex         534 non-null    int64
 3   Yrs_Exprnc  534 non-null    int64
 4   Union       534 non-null    int64
 5   Wage        534 non-null    float64
 6   Age         534 non-null    int64
 7   Race        534 non-null    object
 8   Occup       534 non-null    object
 9   Sect        534 non-null    object
 10  Marr        534 non-null    int64
dtypes: float64(1), int64(7), object(3)
memory usage: 46.0+ KB

In [ ]:
#find numerical variables
numerical=list(wages.select_dtypes(include=['int64','float64']).columns)
#find categorical variables
categorical = list(wages.select_dtypes(include=['object']).columns)
#separate numerical and categorical variables
wages_numerical = wages[numerical]
wages_categorical = wages[categorical]
print("Numerical columns:",numerical)
print("Categorical Columns:", categorical)

Numerical columns: ['Yrs_Ed', 'Sthrn_Rgn', 'Sex', 'Yrs_Exprnc', 'Union', 'Wage', 'Age', 'Marr']
Categorical Columns: ['Race', 'Occup', 'Sect']

In [ ]:
#create dummies
dummies = pd.get_dummies(wages_categorical, drop_first=True)
print(dummies)

     Race_O  Race_W  Occup_Mngmnt  Occup_Other  Occup_Prof  Occup_Sales  \
0     False   False         False         True       False        False
1     False    True         False         True       False        False
2     False    True         False         True       False        False
3     False    True         False         True       False        False
4     False    True         False         True       False        False
..      ...     ...           ...          ...         ...          ...
529   False    True         False        False        True        False
530    True   False         False        False        True        False
531    True   False         False        False        True        False
532   False    True         False        False        True        False
533   False    True         False        False        True        False

     Occup_Service  Sect_Manf  Sect_Other
0            False       True       False
1            False       True       False
2            False       True       False
3            False      False        True
4            False      False        True
..             ...        ...         ...
529          False      False        True
530          False      False        True
531          False      False        True
532          False      False        True
533          False       True       False

[534 rows x 9 columns]

In [ ]:
# combine numerical and dummies
wages_cleaned = pd.concat([wages_numerical, dummies], axis=1)
print("wages_cleaned data:",wages_cleaned.head())

wages_cleaned data:    Yrs_Ed  Sthrn_Rgn  Sex  Yrs_Exprnc  Union  Wage  Age  Marr  Race_O  Race_W  \
0       8          0    1          21      0  5.10   35     1   False   False
1       9          0    1          42      0  4.95   57     1   False    True
2      12          0    0           1      0  6.67   19     0   False    True
3      12          0    0           4      0  4.00   22     0   False    True
4      12          0    0          17      0  7.50   35     1   False    True

   Occup_Mngmnt  Occup_Other  Occup_Prof  Occup_Sales  Occup_Service  \
0         False         True       False        False          False
1         False         True       False        False          False
2         False         True       False        False          False
3         False         True       False        False          False
4         False         True       False        False          False

   Sect_Manf  Sect_Other
0       True       False
1       True       False
2       True       False
3      False        True
4      False        True

In [ ]:
#separate features and outcome
y=wages_cleaned['Wage']
x=wages_cleaned.drop(columns=['Wage'])

In [ ]:
#add constant
X=sm.add_constant(x)
#fit model
model_sm=sm.OLS(y,X.astype(float)).fit()
print(model_sm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Wage   R-squared:                       0.326
Model:                            OLS   Adj. R-squared:                  0.306
Method:                 Least Squares   F-statistic:                     15.66
Date:                Sun, 12 Oct 2025   Prob (F-statistic):           3.02e-35
Time:                        18:58:20   Log-Likelihood:                -1525.8
No. Observations:                 534   AIC:                             3086.
Df Residuals:                     517   BIC:                             3158.
Df Model:                          16
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.2814      6.741     -0.042      0.967     -13.525      12.962
Yrs_Ed            0.8128      1.087      0.748      0.455      -1.322       2.948
Sthrn_Rgn        -0.5627      0.420     -1.340      0.181      -1.388       0.262
Sex              -1.9425      0.419     -4.631      0.000      -2.767      -1.119
Yrs_Exprnc        0.2448      1.082      0.226      0.821      -1.880       2.370
Union             1.6017      0.513      3.124      0.002       0.594       2.609
Age              -0.1580      1.081     -0.146      0.884      -2.282       1.965
Marr              0.3005      0.411      0.731      0.465      -0.507       1.108
Race_O           -0.2314      0.992     -0.233      0.816      -2.179       1.717
Race_W            0.6065      0.870      0.697      0.486      -1.102       2.315
Occup_Mngmnt      3.2682      0.763      4.286      0.000       1.770       4.766
Occup_Other      -0.0223      0.686     -0.033      0.974      -1.370       1.325
Occup_Prof        1.9346      0.670      2.886      0.004       0.617       3.252
Occup_Sales      -0.7956      0.838     -0.949      0.343      -2.442       0.851
Occup_Service    -0.7072      0.663     -1.066      0.287      -2.010       0.596
Sect_Manf         0.5635      0.992      0.568      0.570      -1.384       2.511
Sect_Other       -0.4774      0.966     -0.494      0.621      -2.375       1.421
==============================================================================
Omnibus:                      244.027   Durbin-Watson:                   2.010
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2320.734
Skew:                           1.756   Prob(JB):                         0.00
Kurtosis:                      12.590   Cond. No.                     1.72e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.72e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
#get predictions using numpy
y_pred=model_sm.predict(X)
r_squared = model_sm.rsquared
print(f"R-squared:{r_squared:.4f}")
rmse = np.sqrt(mean_squared_error(y, y_pred))
print(f"RMSE:${rmse:.2f}")
mae = mean_absolute_error(y, y_pred)
print(f"MAE:${mae:.2f}")
mape = np.mean(np.abs((y - y_pred) / y)) * 100
print(f"MAPE:{mape:.2f}%")

R-squared:0.3265
RMSE:$4.21
MAE:$2.99
MAPE:40.69%

Model Discussion:
The regression model achieved an R-Squared value of 0.3265 meaning roughly only 33% of variance in wages is explained in the model. The RMSE of $4.21 and MAE of $2.99 show normal prediction error. The MAPE of 40.69% suggests predictions are off by 40% meaning this model has lots error.

Use Cases: This model would be useful for initial policy anaysis regarding Union membership, discriminatory wage patterns amongst sexes, and career choice selection.

Problematic Conclusions:
We cannot determine causation from the data. The low R-Squared value shows roughly 67% of wage variation unexplained in the model. The model is also missing feature variables such as location, company size, lenght of tenure etc. The dummy variables may oversimplify .